.example-spacer {
    flex: 1 1 auto;
  }
mat-toolbar{
   background-color: #bf1167 ; 
}
.example-button-row {
    background-color: white;
    display: table-cell;
    max-width: 600px;
    border: 1px,black,solid;
    border-radius: 20%;
  }